@import "smartgrid";
@import "mixins/wonder";
@import "fonts";
@import "vars";
@import "media"; // Always at the end

.wrapper{
	@include wrapper();
}

.row{
    @include row-flex();
 
    .item{
        @include col();
        @include size(3);
        margin-bottom: 30px;
        @extend .bg_cov;
        background-color: #555;
        @include get('bear.jpeg');
        background-image: resolve('bear.jpeg');
    }
}

body{
    font-family: $font-roboto;
}

.title{
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    font-weight: 300;
    font-weight: normal;
    font-weight: 500;
    font-weight: 700;
    font-weight: 900;
    color: green;
    line-height: 1;
}